name: chains-build

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - feature/binaries
    tags:
      - 'v*'

env:
  AWS_REGION: "us-east-1"
  AWS_ACCESS_KEY_ID: "${{ secrets.AWS_ACCESS_KEY }}"
  AWS_SECRET_ACCESS_KEY: "${{ secrets.AWS_SECRET_KEY }}"
  AWS_DEFAULT_OUTPUT: "json"

jobs:
  build:
    strategy:
        matrix:
          chains: [terra, cosmoshub, osmosis, juno]
          networks: [mainnet, testnet]
          include:
            - chains: terra
              networks: classic
          exclude:
            - chains: cosmoshub
              networks: testnet
            - chains: osmosis
              networks: testnet
            - chains: juno
              networks: testnet

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # https://docs.docker.com/build/ci/github-actions/multi-platform/
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      # Workaround: https://github.com/docker/build-push-action/issues/461
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Convert previous steps output to env var
        run: |
          echo "ECR_REGISTRY=${{ steps.login-ecr.outputs.registry }}" >> ${GITHUB_ENV}

      - name: Log in to the github container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          images: |
            ghcr.io/${{ github.repository }}
            ${{ env.ECR_REGISTRY }}/cosmovisor
          tags: |
            type=sha,prefix=${{matrix.chains}}-${{matrix.networks}}-
            type=edge,branch=test,prefix=${{matrix.chains}}-${{matrix.networks}}-
            type=semver,pattern={{tag}},prefix=${{matrix.chains}}-${{matrix.networks}}-
            type=semver,pattern={{version}},prefix=${{matrix.chains}}-${{matrix.networks}}-
            type=raw,value=latest,enable={{is_default_branch}},prefix=${{matrix.chains}}-${{matrix.networks}}-

      - name: Build docker image
        uses: docker/build-push-action@v3
        with:
          push: ${{ github.event_name != 'pull_request' }}
          file: Dockerfile
          platforms: linux/amd64
          tags: ${{ env.DOCKER_METADATA_OUTPUT_TAGS }}
          labels: ${{ env.DOCKER_METADATA_OUTPUT_LABELS }}
          build-args: |
            CHAIN_NAME=${{matrix.chains}}
            CHAIN_NETWORK=${{matrix.networks}}
